
#template {
    display: block;
    border: 1px solid black;
    margin: 10px;
}

#texts div {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

#texts div * {
    width: 100%;
    margin: 5 10 5 10;
}





.hidden {
    visibility: hidden;
}

#buttons {
    text-align: center;
}

#buttons * {
    margin-left: 10px;
    margin-right: 10px;
}


